################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.testlog
*.manifest
*.json
*.wsuo
*.sqlite
/Hackathon.ChatBot/obj
/Hackathon.ChatBot/.vs/Hackathon.ChatBot
/Hackathon.ChatBot/bin/Debug/net8.0
