<div class="mb-3">
  <p class="text-xl font-bold dark:text-white">ანგარიშები</p>
</div>
<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table
          class="min-w-full text-center text-sm font-light text-surface dark:text-white">
          <thead
            class="border-b border-neutral-200 bg-neutral-50 font-medium dark:border-white/10 dark:text-neutral-800">
          <tr>
            <th scope="col" class=" px-6 py-4">ანგარიშის დასახელება</th>
            <th scope="col" class=" px-6 py-4">ანგარიშის ნომერი</th>
            <th scope="col" class=" px-6 py-4">ვალუტები</th>
            <th scope="col" class=" px-6 py-4">გახსნის თარიღი</th>
          </tr>
          </thead>
          <tbody>
            @for (account of accounts; track account) {
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="flex flex-col whitespace-nowrap  px-6 py-4 font-medium">
                  <span>{{ account.type }}</span>
                  <span class="text-gray-500">{{ account.subtype }}</span></td>
                <td class="whitespace-nowrap  px-6 py-4">{{ account.iban }}</td>
                <td class="whitespace-nowrap  px-6 py-4"> {{ account.ccy }}</td>
                <td class="whitespace-nowrap  px-6 py-4"> {{ account.openDate | date:'dd/MM/yyyy' }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

